<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>employee</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>employee.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>employee.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMapEmployee</servlet-name>
    <servlet-class>employee.AddMapEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMapEmployee</servlet-name>
    <url-pattern>/AddMapEmployee</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AddProfile</servlet-name>
    <servlet-class>employee.AddProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProfile</servlet-name>
    <url-pattern>/AddProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitGrid</servlet-name>
    <servlet-class>employee.SubmitGrid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitGrid</servlet-name>
    <url-pattern>/SubmitGrid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitGridMap</servlet-name>
    <servlet-class>employee.SubmitGridMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitGridMap</servlet-name>
    <url-pattern>/SubmitGridMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitGridProfile</servlet-name>
    <servlet-class>employee.SubmitGridProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitGridProfile</servlet-name>
    <url-pattern>/SubmitGridProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEmp</servlet-name>
    <servlet-class>employee.DeleteEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmp</servlet-name>
    <url-pattern>/DeleteEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>employee.UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMapEmp</servlet-name>
    <servlet-class>employee.DeleteMapEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMapEmp</servlet-name>
    <url-pattern>/DeleteMapEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMapEmp</servlet-name>
    <servlet-class>employee.UpdateMapEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMapEmp</servlet-name>
    <url-pattern>/UpdateMapEmp</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DeleteProfile</servlet-name>
    <servlet-class>employee.DeleteProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfile</servlet-name>
    <url-pattern>/DeleteProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>employee.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>employee.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <context-param>
  <description>Upload File</description>
  <param-name>file-upload</param-name>
  <param-value>C:\t</param-value>
  </context-param>
</web-app>